{{entry-form/nav-buttons click=(action "updateEntryDate")}}

<div class="entry-form__entry-fields">
  {{entry-form/time-input enter=(action "handleSubmitEntry")
                          key-up=(action "updateEntryTime")
                          reset=(readonly reset)}}

  {{entry-form/project-input class="entry-fields__project-input"
                             enter=(action "handleSubmitEntry")
                             key-up=(action "updateEntryProject")
                             projects=(readonly attrs.projects)
                             reset=(readonly reset)
                             select=(action "focusOnDescriptionInput")}}

  {{entry-form/description-input enter=(action "handleSubmitEntry")
                                 key-up=(action "updateEntryDescription")
                                 reset=(readonly reset)
                                 tags=(readonly attrs.tags)}}

  {{entry-form/submit-button on-click=(action "handleSubmitEntry")}}
</div>
